
<h1><%=@event.name%></h1>
<h2><%=@event.date%></h2>
<h4>Dishes:</h4>
<ul>
  <%@event.dishes.each do |dish|%>
    <li><%=dish.name%>  

  <%end%>
</ul>
<br><br>
<form action="/events" method="POST">
  <h4>To make further edits to this event:</h4>
  <input type="submit" value="Edit Further">
  <input type="hidden" name="event" value="<%= @event.id %>">
</form>
<br>
<form action="/events/<%=@event.id%>" method="POST">
<h4>To DELETE this event:</h4>
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<br><br>

<h4><a href="/logout">Log Out</a> and return to the home screen:</h4>



